<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Personal wish list</title>
    <link rel="stylesheet" href="MyStyle.css">
</head>
<body>
<!--<table>-->
<!--    <tr>-->

<!--        <th>Name</th>-->

<!--        <th>Wish</th>-->

<!--        <th>Quantity</th>-->

<!--    </tr>-->
<!--    <tr><td><div contenteditable>I'm editable</div></td>-->
<!--        <td><div contenteditable>I'm also editable</div></td>-->
<!--        <td><div contenteditable>I'm also editable</div></td></tr>-->
<!--    -->


    <div class="boxLogin">
        <form action="/personallist" method="post">
            <div>
                <div class="loginText" style="display: flex">
                    <input class="text" type="text" placeholder="Enter wish" name="wish" required>
                    <div style="padding: 2px"></div>
                    <input class="text" type="text" placeholder="Enter quantity" name="quantity" required>
                    <button class="button" type="submit">save</button>
                </div>

            </div>
        </form>
    </div>
</table>
</body>
</html>