<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Personal wish list</title>
    <link rel="stylesheet" href="MyStyle.css">
</head>
<body>

    <div class="boxLogin">
        <form action="/personallist" method="post" th:object="${wishes}">
            <div>
                <div class="loginText" style="display: flex">
                    <input class="text" type="text" placeholder="Enter wish" th:field="*{description}" required>
                    <div style="padding: 2px"></div>
                    <input class="text" type="text" placeholder="Enter quantity" th:field="*{quantity}" required>
                    <button class="button" type="submit">save</button>
                </div>
            </div>
        </form>
    </div>
    <div th:each="wish, iter: ${wishlist}">
        <p th:text="${wish.description} + ' ' + ${wish.quantity}"></p>
    </div>
</table>
</body>
</html>